<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Server Info</title>
</head>
<body>
  <h2>Web Server Information:</h2>
  <p>Hostname: {{ ansible_hostname }}</p>
  <p>IP Address: {{ ansible_default_ipv4.address }}</p>
  <p>Operating System: Gentoo {{ ansible_distribution_version }}</p>
  <p>Kernel: {{ ansible_kernel }}</p>
  <p>Architecture: {{ ansible_architecture }}</p>
  <p>Deployment Time: {{ ansible_date_time.iso8601 }}</p>

  <hr>

  <h2>Ansible Control Node Information:</h2>
  {% set ansible_host = groups['ansible'][0] %}
  <p>Hostname: {{ hostvars[ansible_host].ansible_hostname }}</p>
  <p>IP Address: {{ hostvars[ansible_host].ansible_default_ipv4.address }}</p>
  <p>Operating System: {{ hostvars[ansible_host].ansible_distribution }} {{ hostvars[ansible_host].ansible_distribution_version }}</p>
  <p>Kernel: {{ hostvars[ansible_host].ansible_kernel }}</p>

  <hr>

  <h2>Database Server Information:</h2>
  {% set db_host = groups['db'][0] %}
  <p>Hostname: {{ hostvars[db_host].ansible_hostname }}</p>
  <p>IP Address: {{ hostvars[db_host].ansible_default_ipv4.address }}</p>
  <p>Operating System: {{ hostvars[db_host].ansible_distribution }} {{ hostvars[db_host].ansible_distribution_version }}</p>
  <p>Kernel: {{ hostvars[db_host].ansible_kernel }}</p>

  <br>
  <strong>Your Nginx web server is running successfully!</strong><br>
  <em>Deployed with Ansible automation</em>
</body>
</html>
